astroid==2.3.3
atomicwrites==1.3.0
attrs==19.3.0
autopep8==1.4.4
BarrenLandAnalysis==1.0
entrypoints==0.3
flake8==3.7.9
future==0.18.2
importlib-metadata==0.23
isort==4.3.21
jedi==0.15.1
lazy-object-proxy==1.4.3
mccabe==0.6.1
mock==3.0.5
more-itertools==7.2.0
mpmath==1.1.0
numpy==1.17.4
packaging==19.2
parso==0.5.1
pluggy==0.13.0
py==1.8.0
pycodestyle==2.5.0
pydocstyle==4.0.1
pyflakes==2.1.1
pylint==2.4.4
pyls==0.1.6
pyparsing==2.4.5
pytest==5.2.2
python-jsonrpc-server==0.2.0
python-language-server==0.30.0
rope==0.14.0
Shapely==1.6.4.post2
six==1.13.0
snowballstemmer==2.0.0
sympy==1.4
typed-ast==1.4.0
wcwidth==0.1.7
wrapt==1.11.2
yapf==0.28.0
zipp==0.6.0
